<nav>
    <div style="margin:5px">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'postar' %}">Postar</a>
    </div>
    <div style="margin:5px">
        {{ user.username }}
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="submit" value="Logout" class="btn btn-danger">
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registrar' %}">Cadastrar</a>
        {% endif %}        
    </div>
</nav>